.selections{
    color: black;
    cursor: pointer;
    /* box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1); */
    align-content: center;
}


.selections:hover{
    color: #868690;
}

.myNav {
    background-color: transparent;
}

